.button {
  padding: var(--spacing-4) var(--spacing-8);
  border: solid 1px var(--secondary-color);
  border-radius: var(--rounded-sm);
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0, 3s ease;
}

.button.primary {
  background-color: var(--background-color-light);
  color: var(--primary-color);
}

.button.primary:hover {
  background-color: var(--background-color-dark);
  transform: scale(1.05);
}

.button.secondary {
  background-color: var(--background-color-dark);
  color: var(--primary-color);
}

.button.secondary:hover {
  background-color: var(--background-color-light);
  transform: scale(1.05);
  border: none;
}

.button.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: var(--background-color-light);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  cursor: pointer;
  padding: var(--spacing-4);
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0, 3s ease;
}
.button.close:hover {
  background-color: var(--primary-color);
  color: var(--background-color-light);
}

.button:disabled {
  opacity: 0.6;
}
