.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--spacing-16);
}

th,
td {
  border: 1px solid var(--secondary-color);
  padding: var(--spacing-8);
  text-align: left;
  color: var(--primary-color);
}

th {
  background-color: var(--primary-color);
  color: var(--background-color-light);
}

tbody tr {
  background-color: var(--background-color-light);
}

tbody tr:hover {
  background-color: var(--background-color-dark);
}

.noResults {
  margin: var(--spacing-16) 0;
  text-align: center;
  color: var(--secondary-color);
}

.bookRow {
  transition: background-color 0.2s ease;
}

.actionButtonsContainer {
  text-align: center;
}

.actionButtonsContainer button:first-child {
  margin-right: var(--spacing-8);
}

.actionButtonsContainer button {
  width: calc(50% - var(--spacing-4));
  margin: 0;
}
