:root {
  /* colors */
  /* --primary-color: #2c2c54;
  --secondary-color: #474787;
  --background-dark: #aaabb8;
  --background-light: #ececec; */

  --primary-color: #ececec;
  --secondary-color: #aaabb8;
  --background-color-dark: #2c2c54;
  --background-color-light: #474787;

  /* border radius */
  --rounded-sm: 4px;
  --rounded-md: 8px;
  --rounded-lg: 16px;

  /* Spacing */
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;

  /* Font sizes */
  --font-size-sm: 12px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
}
